* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
#map-container {
	display: flex;
	min-height: 100dvh;
	max-width: 100%;
	position: relative;
}
#map {
	height: 100dvh;
	/* Ustaw wysokość mapy */
	width: 100%;
	z-index: 1;

	/* Ustaw szerokość mapy */
}
#point-list {
	display: flex;
	/* overflow: hidden; */
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	position: absolute;
	height: 100%;
	width: 400px;
	/* justify-content: space-evenly; */
	top: 0;
	left: 0;
	z-index: 100;

	text-decoration: none;
	list-style: none;
	background-color: #fff;
}
.item {
	/* background-color: #fff; */

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	cursor: pointer;
	/* border: 1px solid black; */
	/* border-top: 1px solid gray;
	border-bottom: 1px solid gray; */
	/* border-radius: 25px; */
	width: 90%;
	transition: transform 0.3s;
	position: relative;
}
.points {
	/* position: relative; */
	margin: 10px 25px;
	font-size: 1.8rem;
}

.item:hover {
	scale: 1.05;
}
.img {
	width: 80px;
	height: 80px;
	background-image: url('/Makieta/pobrane.png');
	background-size: cover;
}
.textInfo {
	/* position: absolute; */
	/* top: 0;
	right: -50%; */
	background-color: #fff;
	text-align: center;
	padding: 30px 10px;
	font-size: 1.2rem;
}
.hidden {
	display: none;
}
